body
{
	background-color: gray;
}


#game
{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 1280px;
	height: 640px;
	border-style: double;
}

#canvas
{
	background-image: url(../img/bkg.gif);
}
